body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f3f6;
  padding-top: 70px; 
  padding-bottom: 0px;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding-top: 0px;  
  }
}