.home {
  padding: 20px;
}
.categories {
  margin: 20px 0;
}
.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.category-card {
  padding: 10px;
  background: #3c821c;
  color: white;
  text-align: center;
  border-radius: 2px;
  transition: 0.3s;
}
.category-card:hover {
  background: #ddd;
}

.category-card.active {
  background: #000;
  color: #fff;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
@media (max-width: 768px) {
  .home {
    padding: 10px;
  }
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .category-card {
    padding: 15px;
    font-size: 14px;
  }
  .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
}