.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #c6f637;
  color: white;
  position: fixed;  
  top: 0;
  width: 100%;
  z-index: 1000;  
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.nav-left {
  display: flex;
  align-items: center;
}
.logo img {
  height: 40px;
  margin-right: 20px;
}
.search-bar {
  display: flex;
  margin-left: 20px;
}
.search-bar input {
  padding: 8px;
  width: 300px;
  border: none;
  border-radius: 4px 0 0 4px;
}
.search-bar button {
  padding: 4px 4px;
  background-color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
.nav-right {
  display: flex;
  gap: 20px;
  padding-left: 5px;
}
.nav-right .nav-button, .nav-right span {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.nav-right .nav-button:hover {
  background-color: #6df25b;
}
@media (max-width: 768px) {
  .navbar {
    padding: 10px;
    flex-wrap: wrap;
  }
  .nav-left {
    flex: 1;
  }
  .search-bar {
    margin-left: 10px;
  }
  .search-bar input {
    width: 150px;
  }
  .hamburger {
    display: block;
  }
  .nav-right {
    flex-direction: column;
    gap: 10px;
    width: 10%;
    display: none;
    background-color: #bcf747;
    position: absolute;
    top: 100%;
    left: 0;
    /* padding: 5px; */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .nav-right.open {
    display: flex;
  }
  .nav-right .nav-button, .nav-right span {
    /* padding: 5px; */
    font-size: 16px;  
  }
}